doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Meetus
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel='stylesheet', href="/public/home.css")
        
    body
        div#wait
            header
                h1 Meetus
            main     
        div#loginRoom
            form
                p 
                    | Start video call & messaging
                    br
                    | by entering a chat room
                input(id="nickname", placeholder="nickname", required, type="text")
                input(id="password", placeholder="password", required, type="text")
                button Enter Room
        div#waitRoom-container.my-element
            div#waitRoom
                div#settings
                    button#home 
                        img(src ="/public/image/home.png", width = "30px", height = "30px")
                    button#person 
                        img(src ="/public/image/human.png", width = "30px", height = "30px")
                    button#clock 
                        img(src ="/public/image/clock.png", width = "30px", height = "30px")
                    button#setting
                        img(src ="/public/image/setting.png", width = "35px", height = "35px")       
                div#userScreen
                    video#myVideo(autoplay, playinline, width="1665", height="970")
                    button#video 
                        img(src ="/public/image/cameraOff.png", width = "40px", height = "40px")
                    button#audio 
                        img(src ="/public/image/mute.png", width = "40px", height = "40px")
                    button#join-button 참여
                div#roomModal.modal
                    .modal-content  
                        p 
                            span(style="font-size: 100px; font-weight: bold") ✉ 
                            br
                            span(style="font-size: 25px; font-weight: bold; display: block; margin-bottom: 10px;") 회의 참여
                        input(id="roomName", placeholder="회의 ID 혹은 초대 링크", required, type="text")
                        button.close(type="button") 취소
                        button#joinRoomButton 확인
        div#callRoom    
            div#header
                button#callPeople 
                    img(src ="/public/image/human.png", width = "20px", height = "20px")
                    | &nbsp 1 
                button#disconnect 
                    img(src ="/public/image/disconnect.png", width = "40px", height = "40px")
            canvas#boundingCanvas
            canvas#myCanvas
            div#screenStream 
                video#myScreen(style = "object-fit:fill;", autoplay, playinline)
                
                
            div#peerStream
                video#peerVideo(autoplay, playinline, width = "640", height = "640")  
                video#peerScreen(style = "object-fit:fill;", autoplay, playinline, width="300", height="300")   
            div#footer
                button#callDisplay  
                    img(src ="/public/image/screensharing.png", width = "30px", height = "20px")
                    span(style="font-size: 13px; display: block;margin-top: 2.2vh ") 화면 공유
                div#dropup
                    button#callAitranslate 
                        img(src ="/public/image/bleueye.png", width = "40px", height = "40px", style = "margin-top: -1vh")
                        span(style="font-size: 15px; display: block; margin-top: 0.7vh") bleu eye
                    div#dropup-content
                        button#korean Korean
                        button#english English
                        button#japanese Japanese
                button#callVideo 
                    img(src ="/public/image/cameraOff.png", width = "40px", height = "30px")
                button#callAudio 
                    img(src ="/public/image/mute.png", width = "40px", height = "30px")
                button#callChat  
                    img(src ="/public/image/chat.png", width = "30px", height = "25px")
                    span(style="font-size: 13px; display: block") 채팅
            div#chatContainer
                button#closeChat X
                ul#messages 
                form#chat
                    input(type="text")
                    button Send 
        script(src="/socket.io/socket.io.js") 
        script(type="module" src="/public/js/main.js") 
        script(src = "https://docs.opencv.org/master/opencv.js")


//- style = "object-fit:fill;"

 https://docs.opencv.org/4.8.0/opencv.js