button {
  background-color: black;
  border-color: black;
  color: white;
}

h1 {
  position: relative;
  vertical-align: top;
  line-height: 0.5;
  font-size: 40px;
  font-weight: 700;
  color: #4665d1;
}

body{
  overflow: hidden;
}


#waitRoom-container {
  position: relative; /* 부모 요소를 상대적 위치로 설정 */
  width: 100vw; /* 화면 너비의 100% */
  height: 100vh; /* 화면 높이의 100% */
  margin: auto;
}
#waitRoom{
  display: none;
}

#myVideo {
  position: absolute;
  left: 5%;
  width: 95vw; /* 화면 너비의 100% */
  height: 100vh; /* 화면 높이의 100% */
  background-color: #5d5d5d;
}

#video {
  position: absolute;
  top: 80%;
  left: 55%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  width: 6vw;
  height: 6vh;
  font-size: 2vw;  
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  pointer-events: all;
}

#audio {
  position: absolute;
  top: 80%;
  left: 45%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  width: 6vw;
  height: 6vh;
  font-size: 2vw;   
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

#join-button{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  width: 7vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;  
}

#settings {
  width: 6vw;
  height: 100vh;
  background-color: black;
  position: relative;
}

#home {
  margin-left: 0.7vw;
  margin-right: 0.7vw;
  margin-top: 3vh;
  border: none;
  border-radius: 50%;
  width: 3vw; /* 버튼의 너비를 조정 */
  height: 6vh; /* 버튼의 높이를 조정 */
  background-color: #323232;
  color: #fff;
  font-size: 1.5vw; /* 글자 크기를 조정 */
  cursor: pointer;
  display: flex; /* 텍스트를 가운데로 정렬하기 위해 Flexbox 사용 */
  justify-content: center; /* 수평으로 가운데 정렬 */
  align-items: center; /* 수직으로 가운데 정렬 */
}

#person {
  margin-left: 0.7vw;
    margin-top: 3vh;
  border: none;
  border-radius: 50%;
  width: 3vw; /* 버튼의 너비를 조정 */
  height: 6vh; /* 버튼의 높이를 조정 */
  background-color: #323232;
  color: #fff;
  font-size: 1.5vw; /* 글자 크기를 조정 */
  cursor: pointer;
  display: flex; /* 텍스트를 가운데로 정렬하기 위해 Flexbox 사용 */
  justify-content: center; /* 수평으로 가운데 정렬 */
  align-items: center; /* 수직으로 가운데 정렬 */
}

#clock {
  margin-left: 0.7vw;
  margin-top: 3vh;
  border: none;
  border-radius: 50%;
  width: 3vw; /* 버튼의 너비를 조정 */
  height: 6vh; /* 버튼의 높이를 조정 */
  background-color: #323232;
  color: #fff;
  font-size: 1.5vw; /* 글자 크기를 조정 */
  cursor: pointer;
  display: flex; /* 텍스트를 가운데로 정렬하기 위해 Flexbox 사용 */
  justify-content: center; /* 수평으로 가운데 정렬 */
  align-items: center; /* 수직으로 가운데 정렬 */
}

#setting {
  margin-left: 0.7vw;
  margin-top: 3vh;
  border: none;
  border-radius: 50%;
  width: 3vw; /* 버튼의 너비를 조정 */
  height: 6vh; /* 버튼의 높이를 조정 */
  background-color: #323232;
  color: #fff;
  font-size: 1.5vw; /* 글자 크기를 조정 */
  cursor: pointer;
  display: flex; /* 텍스트를 가운데로 정렬하기 위해 Flexbox 사용 */
  justify-content: center; /* 수평으로 가운데 정렬 */
  align-items: center; /* 수직으로 가운데 정렬 */
}

#userScreen{
  width: 100vw; /* 화면 너비의 100% */
  height: 100vh; /* 화면 높이의 100% */
}
  .modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; /* Set the width to 50% of the viewport width */
    height: 100%; /* Set the height to 50% of the viewport height */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    position: absolute;
    background-color: #fefefe;
    padding: 30px;
    border: 1px solid #888;
    width: 600px;
    text-align: center;
    border-radius: 10px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.modal-content > p {
  font-size: 50px;
}


.modal-content > input {
  border-radius: 10px ;
  margin-left: 30px;
  width: 500px;
  height: 50px;
}

#joinRoomButton {
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  width: 110px;
  height: 60px;
  font-size: 20px;
  margin-left: 50px;
}

.close {
  color: black;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  margin-right: 30px;
}



#peerVideo{
  position: absolute;
  top: 10vh;
  left: 55vw;
  height: 75vh;
  width: 40vw;
  background-color: #5d5d5d;
  border-radius: 10px;
}

#loginRoom {
  display: flex;
  justify-content: center;
}

#loginRoom p {
  margin: 1.2rem;
  font-size: 18px;
  line-height: 24px;
  color: #4665d1;
  text-align: center;
}

#loginRoom>form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px;
  border-radius: 10px;
}

#loginRoom>form>input {
  width: 200px;
  height: 30px;
  color: #414141;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}

#loginRoom button {
  width: 182px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  border-radius: 18px;
}

#callRoom {
  display: none;
  position: relative;
  line-height: 0;
  flex-direction: column;
  background-color: #1a1a1a;
  height: 100vh;
  width: 100vw;
}
#videoCall {
  display: flex;
}

#screenStream {
 position: relative;
 padding-top: 500px;
 width: 10px;
 height: 10px;
 z-index: 1;
}


#peerStream {
  padding-left: 700px;
  position: absolute;
  z-index: 1;
}

#myScreen{
  pointer-events: none;
  
  height: 970px;
}

#chatContainer {
  display: none;
  position: fixed;
  height: 85vh;
  width: 25vw;
  bottom: 10%;
  right: 1%;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 15;
  overflow: hidden;
}


#messages {
  width: 90%;
  height: 60vh;
  overflow-y: scroll;
  padding: 0;
}

#messages>li {
  list-style: none;
  padding: 20px 10px;
  width: 350px;
  background: #969691;
  margin: 10px;
  border-radius: 10px;
  color: white;
}

#chat {
  width: 25vw;
  height: 5vh;
  display: flex;
  background-color: white;
}

#chat > input {
  background-color: #D9D9D9;
  border-color: #D9D9D9;
  width: 70%; /* Adjust the width as needed */
  border-radius: 5px;
  top: 300px;
  border: none;
}

#chat > button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  margin-left: 10px; /* Adding some spacing between input and button */
}

#header {
  width: 100vw;
  height: 8vh;
  position: absolute;
  background-color: #1a1a1a;
  padding-left: 100px;
  border-bottom: 2px solid black;
  z-index: 1;
}

#footer {
  top: 90%;
  width: 100vw;
  height: 10vh;
  position: absolute;
  background-color: #202124;
  padding-left: 100px;
  border-top: 2px solid black;
  z-index: 1;
  flex-direction: column;
}


#callVideo {
  left: 53vw;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  height: 6vh;
  width: 5vw;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  pointer-events: all;
  position: absolute;
  z-index: 10;
}

#callAudio {
  left: 43vw;
  position: absolute;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  height: 6vh;
  width: 5vw;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  pointer-events: all;
  z-index: 10;
}

#callDisplay {
  /* left:5; */
  left: 5vw;
  padding: 0px;
  position: absolute;
  background-color: #202124;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  height: 6vh;
  width: 7vw;
  font-size: 2vw;

  justify-content: center;
  align-items: center;
  line-height: 1.2;
  pointer-events: all;
  z-index: 10;
}


#callAitranslate {
  /* left:5; */
  left: 15vw;
  top: 0.6vh;
  padding: 0px;
  position: absolute;
  background-color: #202124;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  width: 6vw;
  height: 6vh;
  font-size: 2vw;   
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  pointer-events: all;
  z-index: 10;
}

#callChat{
  left: 94vw;
  top: 0.3vh;
  padding: 0px;
  position: absolute;
  background-color: #202124;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  width: 6vw;
  height: 6vh;
  font-size: 2vw;   
  justify-content: center;
  align-items: center;
  line-height: 1.1;
  pointer-events: all;
  z-index: 10;
}

#callPeople {
  left:5vw;
  top: 0.1vh;
  position: absolute;
  background-color: #323232;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  width: 6vw;
  height: 6vh;
  font-size: 1vw;   
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px; /* 좌우 여백을 20px로 설정 */
  line-height: 1;
  pointer-events: all;
  z-index: 10;
}

#disconnect {
  left: 94vw;
  top: 0.1vh;
  position: absolute;
  background-color: #1a1a1a;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  width: 6vw;
  height: 6vh;
  font-size: 1.5vw;   
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  pointer-events: all;
  z-index: 10;
}

#myScreen {
  position: absolute;
  left: 100px;
  top: 120px;
  width: 90vw; /* 화면 너비의 100% */
  height: 75vh; /* 화면 높이의 100% */
  border-radius: 10px;
}

#peerScreen {
  position: absolute;
  left: 100px;
  top: 120px;
  width: 90vw; /* 화면 너비의 100% */
  height: 75vh; /* 화면 높이의 100% */
  border-radius: 10px;
}


#boundingCanvas {
  display : none;
  z-index: 1; /* canvas를 영상 위에 레이어로 배치 */
}

#myCanvas {
  display : none;
}