button {
  background-color: black;
  border-color: black;
  color: white;
}

h1 {
  position: relative;
  vertical-align: top;
  line-height: 0.5;
  font-size: 40px;
  font-weight: 700;
  color: #4665d1;
}

body{
  overflow: hidden;
  resize: none;
}

header{
  position: flex;
  padding: 0;
}

footer{
  position: flex;
}

#waitRoom-container {
  position: relative; /* 부모 요소를 상대적 위치로 설정 */
  width: 100vw; /* 화면 너비의 100% */
  height: 100vh; /* 화면 높이의 100% */
  margin: auto;
}

#myVideo {
  position: absolute;
  left: 100px;
 
  width: 95vw; /* 화면 너비의 100% */
  height: 100vh; /* 화면 높이의 100% */
  background-color: #5d5d5d;
}

#video {
  position: absolute;
  bottom: 150px;
  right: 740px;
  background-color: #323232;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  height: 50px;
  width: 100px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0; 
  pointer-events: all;
  
}

#audio {
  position: absolute;
  bottom: 150px;
  right: 905px;
  background-color: #323232;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  height: 50px;
  width: 100px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

#join-button{
  position: absolute;
  bottom: 30px;
  right: 800px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 100px;
  width: 150px;
  height: 75px;
  font-size: 20px;  
}

#settings{
  width: 100vw; /* 화면 너비의 100% */
  height: 100vh; /* 화면 높이의 100% */
  background-color: black; /* 박스의 배경 색상 */
  position: absolute;
}

#home {
  margin-left: 10px;
  margin-top: 40px;
  border: none;
  border-radius: 50%;
  width: 60px; /* 버튼의 너비를 조정 */
  height: 60px; /* 버튼의 높이를 조정 */
  background-color: #323232;
  color: #fff;
  font-size: 25px; /* 글자 크기를 조정 */
  cursor: pointer;
  display: flex; /* 텍스트를 가운데로 정렬하기 위해 Flexbox 사용 */
  justify-content: center; /* 수평으로 가운데 정렬 */
  align-items: center; /* 수직으로 가운데 정렬 */
}

#person {
  margin-left: 10px;
  margin-top: 40px;
  border: none;
  border-radius: 50%;
  width: 60px; /* 버튼의 너비를 조정 */
  height: 60px; /* 버튼의 높이를 조정 */
  background-color: #323232;
  color: #fff;
  font-size: 25px; /* 글자 크기를 조정 */
  cursor: pointer;
  display: flex; /* 텍스트를 가운데로 정렬하기 위해 Flexbox 사용 */
  justify-content: center; /* 수평으로 가운데 정렬 */
  align-items: center; /* 수직으로 가운데 정렬 */
}

#clock {
  margin-left: 10px;
  margin-top: 40px;
  border: none;
  border-radius: 50%;
  width: 60px; /* 버튼의 너비를 조정 */
  height: 60px; /* 버튼의 높이를 조정 */
  background-color: #323232;
  color: #fff;
  font-size: 25px; /* 글자 크기를 조정 */
  cursor: pointer;
  display: flex; /* 텍스트를 가운데로 정렬하기 위해 Flexbox 사용 */
  justify-content: center; /* 수평으로 가운데 정렬 */
  align-items: center; /* 수직으로 가운데 정렬 */
}

#setting {
  margin-left: 10px;
  margin-top: 40px;
  border: none;
  border-radius: 50%;
  width: 60px; /* 버튼의 너비를 조정 */
  height: 60px; /* 버튼의 높이를 조정 */
  background-color: #323232;
  color: #fff;
  font-size: 25px; /* 글자 크기를 조정 */
  cursor: pointer;
  display: flex; /* 텍스트를 가운데로 정렬하기 위해 Flexbox 사용 */
  justify-content: center; /* 수평으로 가운데 정렬 */
  align-items: center; /* 수직으로 가운데 정렬 */
}

#userScreen{
  width: 100vw; /* 화면 너비의 100% */
  height: 100vh; /* 화면 높이의 100% */
}
  .modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; /* Set the width to 50% of the viewport width */
    height: 100%; /* Set the height to 50% of the viewport height */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

.modal-content {
  position: absolute;
  background-color: #fefefe;
  margin-left: 650px; 
  margin-top: 200px;
  padding: 30px;
  border: 1px solid #888;
  width: 600px;
  left: 30px;
  text-align: center;
  border-radius: 10px;
  
}

.modal-content > p {
  font-size: 50px;
}


.modal-content > input {
  border-radius: 10px ;
  margin-left: 30px;
  width: 500px;
  height: 50px;
}

#joinRoomButton {
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  width: 110px;
  height: 60px;
  font-size: 20px;
  margin-left: 50px;
}

.close {
  color: black;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
}






#peerVideo{
  position: absolute;
  margin-top: 120px;
  margin-left: 250px;
  height: 700px;
  width: 800px;
  background-color: #5d5d5d;
  border-radius: 10px;
}

#loginRoom {
  display: flex;
  justify-content: center;
}

#loginRoom p {
  margin: 1.2rem;
  font-size: 18px;
  line-height: 24px;
  color: #4665d1;
  text-align: center;
}

#loginRoom>form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px;
  border-radius: 10px;
}

#loginRoom>form>input {
  width: 200px;
  height: 30px;
  color: #414141;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}

#loginRoom button {
  width: 182px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  border-radius: 18px;
}

#callRoom {
  position: relative;
  line-height: 0;
  flex-direction: column;
  background-color: #1a1a1a;
}
#videoCall {
  display: flex;
}

#screenStream {
 position: relative;
 padding-top: 500px;
 width: 10px;
 height: 10px;
 z-index: 1;
}


#screen {
  margin-left: 150px;
  font-size: 5px;
  width: 125px;
  line-height: 0px;
  position: absolute;
  z-index: 2;
  border-radius: 30px;
}

#peerStream {
  padding-left: 700px;
  position: absolute;
  z-index: 1;
}

#myScreen{
  pointer-events: none;
}

#chatContainer {
  margin-top: 500px;
  margin-bottom: 100px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: right;
  padding: 10px;
  background-color: #AFC6E9;
  border-radius: 10px;
  padding-top: 30px;
}

#messages {
  width: 145%;
  height: 100px;
  overflow-y: scroll;
  padding: 0;
}

#messages>li {
  list-style: none;
  padding: 20px 10px;
  width: 290px;
  background: #969691;
  margin: 10px;
  border-radius: 10px;
  color: white;
}

#chat {
  color: #D9D9D9;
  width: 145%;
  border-radius: unset;
  border: none;
  box-shadow: none;
}

#chat > input {
  background-color: #D9D9D9;
  border-color: #D9D9D9;
  align-items: center;
  width: 53%;
  height: 50px;
}

#chat > button {
  margin-left: 350px; /* 버튼과 입력 요소 사이의 간격 조정 */
  border-radius: 20px;
}


#header {
  width: 1800px;
  height: 100px;
  position: absolute;
  background-color: #1a1a1a;
  padding-left: 100px;
  border-bottom: 2px solid black;
}

#footer {
  margin-top: 860px;
  width: 1800px;
  height: 100px;
  position: absolute;
  background-color: #202124;
  padding-left: 100px;
  border-top: 2px solid black;
  z-index: 1;
}

#buttonPos {
  position: relative;
  margin-top: 1090px;
  margin-left: 1000px;
  z-index: 10;
}
